body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Lato;
}

.loginComp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 100vh;
}

.loginForm{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: wrap;
    background: white;
    border-radius: 10px;
    padding: 20px;
    border:1px #2fa6ea ;
    box-shadow: 0 0 10px #2fa6ea;
   
}

.loginComp h2{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.loginComp .form-group{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 20px 0;
}

.loginComp .errorMessage{
    color:rgb(192, 7, 7);
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.form-group input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: 0;
    background: none;
    outline: none;
    margin-top: 10px;
}

.form-group label{
    position: absolute;
    top: 0px;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
}

input[type="submit"]{
    width: 100px;
    height: wrap;
    border: 1px solid;
    border-radius: 5px;
    font-size: 18px;
    padding: 7px;
    background-color: #2fa6ea;
    color: white;
   align-self: center;
  
}

.forgot-password{
    align-self: center;
    color: #2fa6ea;
    display: flex;
    margin-top: 20px;
}

.signup-content{
    display: flex;
    margin: 20px;
}

.signup-link{
    align-self: center;
    color: #2fa6ea;
    display: flex;
}