.editorOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

.notesEditorContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0%;
    width: 60%;
    height: 100%;
    transform: translate();
    background-color:white;
    padding: 50px;
    
}



.editor-content {
    width: 95%;
    height: 70%;
   
    font-size: 20px;
    padding: 5px;
    /* border:1px solid #adadad;   */
  }
 
  .editor-title {
    width: 95%;
    padding: 10px;
    font-size: 25px;
    border-bottom:1px solid #adadad;
   text-align: center;
    
  }
  .editor-content:focus, .editor-title:focus {
    /* border:1px solid ;
    box-shadow: 0 0 10px #293846; */
    outline: 0px solid transparent;
  }

  .editor-title:empty:before, .editor-content:empty:before {
    content:  attr(data-placeholder);
    color: gray;
  }


  .editor-footer{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* Tool bar css starts */

  .toolbar{
    width: auto;
    padding: 10px;
   display: flex;
}

.toolbar-right{
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  width: auto;
}

.toolbar-left{
    right: 0;
}

.toolbar-items{
    padding: 10px;
    cursor: pointer;
}

.toolbar-items:focus{
    border-bottom: 1px solid #adadad; ;
}

