body{
    margin: 0;
    padding: 10px;
}

.notesContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.notesbox{
    width: 300px;
    height:200px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid #adadad;
    border-radius: 10px;
    margin: 5px;
    overflow-wrap: break-word;
}

.add-note{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.notesTitle{
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}




.editorOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

.notesEditorContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10%;
    right: 10%;
    width: 75%;
    height: 75%;
    transform: translate();
    background-color:white;
    padding: 50px;
    border-radius: 10px;
}



.editor-content {
    width: 95%;
    height: 70%;
    margin-top: 20px;
    font-size: 20px;
    padding: 5px;
    border:1px solid #adadad;  
  }
 
  .editor-title {
    width: 95%;
    padding: 5px;
    margin-top: 13px;
    font-size: 40px;
    border:1px solid #adadad;
    
  }
  .editor-content:focus, .editor-title:focus {
    border:1px solid ;
    box-shadow: 0 0 10px #293846;
  }

  .editor-title:empty:before, .editor-content:empty:before {
    content:  attr(data-placeholder);
    color: gray;
  }


  .editor-footer{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.common-button{
  background-color: #293846; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  margin: 15px;
  cursor: pointer;
}