body{
    margin: 0;
    padding: 10px;
}

.notesContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.notesbox{
    width: 200px;
    height:250px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid #adadad;
    border-radius: 10px;
    margin: 5px;
    overflow-wrap: break-word;
    box-shadow: 0 0 3px #adadad;
}

.notesbox:hover{
  border-color: #2fa6ea;
}

.add-note{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.notesTitle{
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

.common-button{
  background-color: #293846; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  margin: 15px;
  cursor: pointer;
}