body{
    margin: 0;
    padding: 10px;
}


/* Notes page header starts */

.notes-header{
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  /* margin: 5px; */
}

.notes-header-right{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 30px;
}

.notes-header-left{
  display: flex;
  flex-direction: row;
}

.notes-sort{
  cursor: pointer;
  justify-content: center;
  display: flex;
  margin: 10px;
  align-self: center;
}

.notes-sort div{
  /* align-self: center; */
  margin-right: 5px;
}

.notes-sort:hover{
  background-color: #2fa6ea;
  color: white;
}

/* Notes page header ends */

/* Notes container header starts */

.notesContainer{
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
    flex-direction: column;
    margin: 0 auto;
}

.notesbox{
    width: 800px;
    height:wrap;
    cursor: pointer;
    padding: 5px;
    border: 2px solid #adadad;
    border-radius: 5px;
    margin: 10px;
    overflow-wrap: break-word;
    box-shadow: 0 0 5px #adadad;
    align-self: center;
}

.notesbox:hover{
  border-color: #2fa6ea;
}


.notesTitle{
    font-size: large;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 10px;
}

.notesContent{
  margin: 5px;
  margin-bottom: 30px;
}

.notes-container-footer{
  display: flex;
}

.note-time{
  font-size: 13px;
  color: grey;
  margin-left: auto;
}

/* Notes container ends */

/* Empty container starts */

.empty-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.contents{
  width:fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
}

.contents:hover{
  opacity: 1;
  cursor: pointer;
}

.add-icon{
  margin: 20px;
}



/* Empty container ends */

/* Labels related css starts */

.manage-labels-button{
 display: flex;
 border-radius: 3px;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  width: fit-content;
}

.manage-label-icon{
  align-self: center;
  vertical-align: middle;
  align-items: center;
  margin-right: 5px;
}
.manage-labels-button span{
 align-self: center;
 vertical-align: middle;
 font-size: 18px;
 /* margin-left: 4px; */
}
/* Labels related css ends */