@font-face {
    font-family: 'LatoBold';
    src: local('Roboto'), url(./fonts/Lato-Bold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Lato';
    src: local('Roboto'), url(./fonts/Lato-Regular.ttf) format('truetype');
  }