@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Robotobold';
    src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
  }